[Unit]
Description=Poste.io Mail Server
Documentation=https://poste.io/
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ posteio_dir }}
ExecStart={{ posteio_dir }}/start.sh
ExecStop={{ posteio_dir }}/stop.sh
ExecReload={{ posteio_dir }}/restart.sh
TimeoutStartSec=300
TimeoutStopSec=120
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
